/*////////////////////////////////// Estilos para contenedor ///////////////////////////////////////////////////////7*/
.contenedoris {
    border: 1px solid #49b1d7; /* Borde del contenedor */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #49b1d7; /* Color de fondo del contenedor */
    width: 800px; /* Ancho del contenedor */
    height: 400px; /* Altura del contenedor */
    margin: auto auto;
  }
  /* En estilos.css */
  .contenedor-padreis {
    display: flex;
    height: 100vh; /* Esto hace que el contenedor ocupe toda la altura de la ventana */
  }
  
  .contenedoris {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #49b1d7;
    padding: 20px;
    background-color: #49b1d7;
    width:1150px;
    height: 80%;
    color: #333;
  
   
  }
  .formatois{
    display: flex;
    width: 1000px;
    height: 30px;
    padding: 10px;
    border: 1px solid #ced4db;
    border-radius: 5px;
    background-color: #ced4db;
    margin: 50px 0;
    
  }
  .botonis{
    margin-top: 50px;
    background-color: #dbd3b6;
    border-radius: 10px;
    height: 30px;
    width: 100px;
    justify-content: center;
  }
