/* CSS CONTENEDORES PANTALLA PRINCIPAL */


.contenedor {
  border: 1px solid #49b1d7; /* Borde del contenedor */
  padding: 0px; /* Espaciado interno del contenedor */
  background-color: #49b1d7; /* Color de fondo del contenedor */
  background-image: url(/public/navega.jpeg); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%; /* Ancho del contenedor */
  height: 90%; /* Altura del contenedor */
}
/* En estilos.css */
.contenedor-padre {
  display: flex;
  margin: 5% 20%;
  height:auto;
  width: 90%; 
  /*height: 100vh;  Esto hace que el contenedor ocupe toda la altura de la ventana */
  color: #333;
}

.contenedor {
  border: 1px solid #49b1d7;
  padding:2% ;
  background-color: #49b1d7;
  width:95%;
  height: 50%;
}
.contenedor-superior {
  background-color: #ced4db;
  width: 100%;
  height: 10%;
}
  .contenedorSuperior {
    border: 1% solid #ced4db;
    background-color: #ced4db;
    width: 90%; /* Ancho del contenedor 1 en relación al contenedor padre (ajusta según tus necesidades) */
    height: 20%;
    margin: auto auto;
    display: flex;
    align-items: center;
    flex-direction: row; 
  }
  .seleccionarimg{
    width:80%;
    height:50%;

  }
    .busqueda{
      display: flex;
      align-items: left;
      width:auto;
      height:auto;
      padding: 3% 3%;
      border: 1px solid #49b1d7;
      border-radius: 5px;
      background-color: #49b1d7;
      margin-top:  5%;
      margin-bottom: 5%;
      color: #333;
      align-items: center;
      font-size: medium;
      flex-direction: row; 

    }
    .contbusqueda{
      display: flex;
      width: 50%;
    }
        .lado{
        display: flex;
        flex-direction: row; 
        width:auto;
        background-color: #49b1d7;
        flex-direction: row;
        border: 1px solid #49b1d7;
        height: 50px;
        border-radius: 5px;
        color: #333;
        font-size: medium;
        margin-left: 10px;
        flex-direction: row;
        align-items: center;
        }
          .botonbuscar{
            margin-top:auto;
            height: 30px;
            align-items: center;
            background-color: #333;
            border-radius: 3px;
            color: #ced4db;
            font-size: medium;
            text-align: center;
            justify-content: center;
            
          }
    .botonfoto{
      width:auto;
      height:90px;
      background-color:#ced4db;
      display: flex;
      margin-top:  3%;
    }
      .tomarfoto{
        display: flex;
        width: auto;
        height: 90px;
      }
        .nombreimagencaptura{
          font-size: small;
          color: #333;
        }
        .botoncam{
          width: auto;
          height: auto;
          margin-top: 10%;
        }
.contenedor-inferior{
  display: flex;
  justify-content: space-between;
  align-items: center; /* Centra verticalmente los elementos */
}
.contenedor2 {
  border: 5px solid #333;
  padding: 10px;  
  width: 30%; /* Ancho del contenedor 2 en relación al contenedor padre (ajusta según tus necesidades) */
  height: auto;/* Alto del contenedor 2 en relación al contenedor padre (ajusta según tus necesidades) */
  display: flex;
  margin-top: 30px;
  margin-left: 0px;  
  color: #ced4db;
  flex-direction: column; /* Cambia la dirección del flujo a vertical */
  align-items: center;
} 
.menu-vertical {
  display: flex;
  align-items:first baseline; /* Alinea al principio verticalmente */
  height: 80%;
  width: 80%;
}
  .tipo{
    height: 80%;
    width: 80%;
  }
.menu-vertical a {
  text-decoration: none;
  background-color: #dbd3b6;
  margin-top: 10px;
  color: #333;
  padding: 5px 10px;
  font-size: 16px;
  width: 200px;
  text-align: center;
  
}
.menu-vertical a:hover {
  background-color: lightgray;
}

.contenedor3 {
  border: 1px solid #ced4db;
  padding: 10px;
  background-color: #ced4db;
  width: 80%; /* Ancho del contenedor 3 en relación al contenedor padre (ajusta según tus necesidades) */
  height: 50%;/* Alto del contenedor 2 en relación al contenedor padre (ajusta según tus necesidades) */
  display: flex;
  margin-top: 10%;
  margin-left: 10%;
  justify-content: center;
}
  .fotos{
    width: 100%;
  }
    .img{
      justify-content: center;
      margin: 5% 5%;
    }


/*///////resultados*/

.contenedorderesultados {
    border: 1px solid #49b1d7;
    padding: 30%;
    background-color: #49b1d7;
    width:1200px;
    height: 400px;
  }
    .crinferior{
      display: flex;
      text-align: center;
    }
  .contenedorSuperiorR {
    border: 1px solid #ced4db;
    padding: 10px;
    background-color: #ced4db;
    width: 98%; /* Ancho del contenedor 1 en relación al contenedor padre (ajusta según tus necesidades) */
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row; 
  }