/* CSS PARA ACERCA DE */

.App{
  width: 100%;
}

.contenedorac {
    border: 1px solid #49b1d7; /* Borde del contenedor */
    padding: 20px; /* Espaciado interno del contenedor */
    background-color: #49b1d7; /* Color de fondo del contenedor */
    background-image: url(../../public/navega.jpeg);
    width: 100%; /* Ancho del contenedor */
    height: 100%; /* Altura del contenedor */
    margin: 20px;
  }
  /* En estilos.css */
  .contenedor-padreac {
    display: flex;
    height: 100%; /* Esto hace que el contenedor ocupe toda la altura de la ventana */
    width: 100%;
  }
  
  .contenedorac {
    border: 1px solid #49b1d7;
    padding: 20px;
    background-color: #49b1d7;
    width:1200px;
    height: 500px;
   
  }


  .contenedorSuperiorac {
    border: 5px solid #333333;
    padding: 10px;
    background-color: #ced4db;
    width: 95%; /* Ancho del contenedor 1 en relación al contenedor padre (ajusta según tus necesidades) */
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#333333;
  }
  .contenedor-inferiorac {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Centra verticalmente los elementos */
    height: 85%;
  }
    .contenedorInferiorac {
      border: 5px solid #ced4db;
      padding: 10px;
      background-color: #ced4db;
      width: 45%; /* Ancho del contenedor 1 en relación al contenedor padre (ajusta según tus necesidades) */
      height: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#333333;
      font-size: 75%;
   
    }
  .contenedorInferior1ac{
      border: 5px solid #49b1d7;
      padding: 10px;
      background-color: #49b1d7;
      width: 40%; /* Ancho del contenedor 1 en relación al contenedor padre (ajusta según tus necesidades) */
      height: 55%;
      display: flex;
      align-items: center;
      justify-content: center;
      color:#49b1d7;
  }

  .contenedorInferior1ac img{
    width: 40%;
    height: 95%;
  }
.RedesSocialesac{
  background-color: #AFAFAF;
  width: 100%; /* Ancho del contenedor 1 en relación al contenedor padre (ajusta según tus necesidades) */
  height: 50px;
  display: flex;
  align-items: center;
  padding: auto;
  color: #333;
  justify-content:space-evenly;
}